@charset "utf-8";

.inner{position:relative;width:1400px;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}
.inner .inner {width: 100%;}
#container{width:100%;overflow:hidden}

.slick-controls{z-index:10;}
.slick-nav a{font-size:0;z-index:40}
.slick-nav a{background:url('/_KOR/img/ir.png') no-repeat;}
.slick-nav a.slick-play{display:none;}

.sd_nav_basic .slick-nav a{width:24px;height:24px;border-radius:4px;background-color:#f5f5f5;border:1px solid #ededed;}
.sd_nav_basic .slick-nav a.slick-prev{background-position:-161px -1px;}
.sd_nav_basic .slick-nav a.slick-next{background-position:-240px -1px;}
.sd_nav_basic .slick-nav a.slick-stop{background-position:-201px -3px;}
.sd_nav_basic .slick-nav a.slick-play{background-position:-200px -41px;}

/* header */
#header{position:relative;background:#fff;height:100px;border-bottom:1px solid #e2e2e2;z-index:148;box-sizing:border-box;transition:all .05s ease-in-out;}
/* #header.fixed{position:fixed !important;top:-44px;width:100% !important;z-index: 500;box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);animation:fadein .5s;} */
.logo_box {height:90px;position:absolute;top:0;left:0;z-index:90;}
.logo_box a{height:100%;display:inline-flex;align-items: center;}
.logo_box .logo_m{height:90px;display:inline-flex;align-items: center;padding-right:16px;margin-right:16px;position: relative;}
.logo_box .logo_m::after {content: '';display: block;width: 1px;height: 50%;position: absolute;top: 50%;right: 0;transform: translateY(-50%);background: rgba(0,0,0,.1);}
.logo_box img{display:block;}

/* pc_menu */
#gnb {position: relative;}
#gnb .inner {padding-left: 450px;padding-right: 100px;}
#gnb .inner > ul {margin: 0px auto;height: 100px;width: 100%;display: flex;justify-content: center;}
#gnb .inner > ul > li {width: calc(100% / 5);}
#gnb .inner > ul > li > a {position: relative;display: block;font-size: 1.25rem;font-weight: 500;padding: 16px;margin-top: 20px;height: 80px;box-sizing: border-box;text-align: center;}
#gnb .inner > ul > li:hover > a,#gnb .inner > ul > li:focus > a {color: #a627e5}
#gnb .inner > ul > li > a:before {content: '';position: absolute;left: 0%;bottom: 0px;display: block;width: 100%;height: 0px;opacity: .5;background: #76388b;transition: all .3s ease-in-out;}
#gnb .inner > ul > li:hover > a:before,#gnb .inner > ul > li:focus > a:before {bottom: 0px;width: 100%;height: 4px;opacity: 1;}
#gnb .gnb_dep2 {position: relative;height: 0;text-align: left;overflow: hidden;z-index: 140;}
#gnb .gnb_dep2 li {padding: 0px 8px 18px;color: #344054;word-break: break-all;text-align: center;}
#gnb .gnb_dep2 li:first-child {margin-top: 24px;}
#gnb .gnb_dep2 li a {position: relative;}
#gnb .gnb_dep2 li a:hover, #gnb .gnb_dep2 li a:focus {color: #a627e5;font-weight: 500;}
#gnb .gnb_dep2 li a:before {content: '';position: absolute;left: 0;bottom: -4px;display: block;width: 0;height: 1px;opacity: 0;background: #76388b;transition: all .3s ease-in-out;}
#gnb .gnb_dep2 li a:hover:before, #gnb .gnb_dep2 li a:focus:before {width: 100%;opacity: 1;}
#gnb .gnb_dep2 li a[target="_blank"] {display: inline-flex;align-items: center;}
#gnb .gnb_dep2 li a[target="_blank"]:after {content: '';display: inline-block;margin-left: 8px;width: 12px;height: 12px;background: url('/_KOR/img/ir.svg') -49px -80px no-repeat;}
/* #gnb .inner > ul > li:last-child .gnb_dep2 {border-right: 1px solid #eee;}
#gnb .inner > ul > li:nth-child(odd) .gnb_dep2 {border-left: 1px solid #eee;border-right: 1px solid #eee;} */
/* #gnb .inner > ul > li:hover .gnb_dep2 {background: #f3f7ff;} */
#gnb .tmnBg {position: absolute;top: 100px;left: 0;width: 100%;height: 0;z-index: 100;}
/* #gnb .tmnBg .inner {background: #fff;border-radius: 0 0 0 50px;height: 100%;position: relative;} */
/* #gnb .tmnBg .inner:before {content: '';position: absolute;left: 0;bottom: -1px;width: 100%;height: 1px;background: #eee;z-index: 2} */
#gnb .tmnBg .gnb_2dep_deco {display: none;height: 160px;padding: 32px;width: 400px;background: #f7f2f9;position: absolute;top: 0;left: 0;border-radius: 0 0 50px 0;z-index: 102;}
#gnb .tmnBg .gnb_2dep_deco .title {position: relative;font-weight: 500;font-size: 1.25rem;line-height: 1.5;}
#gnb .tmnBg.on .gnb_2dep_deco {display: block;}
#gnb .tmnBg::after {content: '';display: block;width: calc((100% - 1400px) / 2);position: absolute;top: 0;left: 0;background: #f7f2f9;height: 0;}
#gnb .tmnBg.on::after {height: 160px}
#gnb .tmnBg::before {content: '';display: block;width: calc((100% - ((100% - 1400px) / 2)));position: absolute;top: 0;right: 0;background: #fff;height: 0;transition: .3s ease-in-out;border-radius: 0 0 0 50px;}
#gnb .tmnBg.on::before {height: 200px;box-shadow: 6px 12px 14px 2px rgba(0, 0, 0, 0.03);}

/* 사이트맵 아이콘 */
#header .gnb_r {position: absolute;top: -75px;right: 0;box-sizing: border-box;}
#header .gnb_r ul {display: flex;}
#header .gnb_r .site_map_btn a {width: 40px;height: 40px;background: #f7f2f9;border-radius: 50%;}
.gnb_r .sitemap_ico {width: 100%;height: 100%;}
.gnb_r .sitemap_ico span {display: block;width: 24px;height: 2px;margin: 0 0 4px;background: #444;transition: all .3s ease;}

/* footer */
#footer {text-align: center;color: #fff;}
.ftop_wp {padding: 50px 0;background: #2d3035;}
.flogo_box a {display: inline-flex;align-items: center;justify-content: center;}
.flogo_box .logo_m{padding-right:16px;margin-right:16px;position: relative;}
.flogo_box .logo_m::after {content: '';display: block;width: 1px;height: 50%;position: absolute;top: 50%;right: 0;transform: translateY(-50%);background: rgba(255,255,255,.3);}
.ftop_wp .f_m_box {padding-top: 35px;}
.ftop_wp .f_m_box .dp_flex {justify-content: center;}
.ftop_wp .f_m_box .dp_flex li {margin:0 16px;position: relative;}
.ftop_wp .f_m_box .dp_flex li::after {content: '';display: block;width: 1px;height: 50%;position: absolute;top: 3px;right: -16px;background: rgba(255,255,255,.3);}
.ftop_wp .f_m_box .dp_flex li:last-child::after {display: none;}
.ftop_wp .f_b_box {padding-top: 10px;}
.ftop_wp .f_b_box  .dp_flex {justify-content: center;}
.ftop_wp .f_b_box .dp_flex li {margin:0 16px;position: relative;}
.ftop_wp .f_b_box .dp_flex li::after {content: '';display: block;width: 1px;height: 50%;position: absolute;top: 3px;right: -16px;background: rgba(255,255,255,.3);}
.ftop_wp .f_b_box .dp_flex li:last-child::after {display: none;}
.fbottom_wp {background: #1b2028;padding: 25px 0 20px;}

/* 서브 */
#svisualLayout{width:100%;height:250px;color:#fff; position:relative;}
#svisualLayout .svisualBg{position:absolute;width:100%;height:250px;top:0;left:0;overflow:hidden;z-index:-1;}
#svisualLayout .svisualBg:after{content:'';position:absolute; top:0; left:0;display:block; width:100%; height:268px;animation: kenburns-bottom 5s ease-out both;}
#svisualLayout .svisualBg.svisualBg_10:after{background:url('../img/subtop_bg10.jpg') no-repeat center center #121212;background-size:cover;}
#svisualLayout .svisualBg.svisualBg_20:after{background:url('../img/subtop_bg20.jpg') no-repeat center center #121212; background-size:cover;}
#svisualLayout .svisualBg.svisualBg_30:after{background:url('../img/subtop_bg30.jpg') no-repeat center center #121212; background-size:cover;}
#svisualLayout .svisualBg.svisualBg_40:after{background:url('../img/subtop_bg40.jpg') no-repeat center center #121212; background-size:cover;}
#svisualLayout .svisualBg.svisualBg_50:after{background:url('../img/subtop_bg50.jpg') no-repeat center center #121212; background-size:cover;}
#svisualLayout .titleWrap {padding:72px 0 0px;}
#svisualLayout .titleWrap h2{position:relative;font-size:3rem;line-height:3.2rem;font-weight:600;animation:fadein 1s;}
#svisualLayout .titleWrap p{margin:16px 0;font-size:1.25rem;}
#svisualLayout .titleWrap p span{color:#008DB1;}

#snb .inner {background: #fff;border-radius: 15px 15px 0 0;position: relative;margin-top: -58px;}
.snb_wp {justify-content: space-between;}
.snb_wp::after {content: '';display: block;width: 100%;height: 1px;background: #ddd;position: absolute;bottom: 0;left: 0;}
#snb .snb_list a{position:relative;padding:0 17px;display: flex;align-items: center;justify-content: space-between;}
#snb .snb_list > li > a{height:58px;}
#snb .snb_list .home p{display:inline-block;width:24px;height:24px;font-size:0;background:url('../img/ir.png') -73px -36px no-repeat;}
#snb .snb_list > li{position:relative;}
#snb .snb_list > li::after {content: '';display: block;width: 1px;height: 50%;background: #ddd;position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
#snb .snb_list > li:not(:first-child){min-width:200px;}
#snb .snb_lev1 > a span{margin-left:8px;width:20px;height:20px;border-radius:50%;background:url('../img/ir.png') -110px -36px no-repeat;}
#snb .snb_lev1 > a p{font-weight:700}
#snb .snb_lev1:last-child a p{color:#000;}
#snb .snb_lev2{display:none;position:absolute;top:58px;left:-1px;padding:8px;width:calc(100% + 2px);background:#fff;border:1px solid #ddd;z-index:10;border-radius:0 0 8px 8px;box-shadow: 0px 6px 15px 0 rgb(0, 0, 0, .08);}
#snb .snb_lev2 > li > a{display:block;min-height:40px;padding:.75rem;font-weight:700;font-size:1rem;border-radius:5px}
#snb .snb_lev2 > li.on > a{background:#eceaff;color:#CA78DD;}
#snb .snb_lev2 > li:not(.on) > a:hover{color:#ffffff;background:#717171;}
#snb .snb_unit a{height:58px;position:relative;padding:0 17px;display: flex;align-items: center;justify-content: space-between;}
#snb .snb_unit .print p{display:inline-block;width:24px;height:24px;font-size:0;background:url('../img/ir.png') -137px -36px no-repeat;}

.sub_title {position: relative;text-align: center;margin: 60px 20px 50px;padding-bottom: 20px;font-size: 2.425em;}
.sub_title h3 span{position: relative;}
.sub_title h3 span::before {content: '';display: block;width: calc(100% - 10px);height: 5px;border-radius: 5px;background: #BCB1FF;position: absolute;bottom: -5px;left: 0;}
.sub_title h3 span::after {content: '';display: block;width: 5px;height: 5px;background:#7FB7ED;border-radius: 5px;position: absolute;bottom: -5px;right: 0;}
#subWrap .sub_content {min-height: 480px;}